@import '~bootstrap/dist/css/bootstrap.css' ;

.ng-valid:not(form){
    border-left : 5px solid green;
}
.ng-invalid:not(form){
    border-left : 5px solid red;
}

.reg{
    border-style: inset;
    border-radius: 10px;
        border-color : blue;
    background-color :  lightblue;
}
.luca{
     background-color :  blue;
}
.reg{
    border-style: inset;
    border-color : orange;
    background-color : yellow;
}
