<div  class = "reg" style = "border-radius : 10px">
  <form [formGroup] = 'miaForm' (ngSubmit)="onAddUtenti()" class = "aligned-form" >
    <h4>REGISTRAZIONE</h4>
    <div>
      
      <input type = 'text' [formControl] =" miaForm.controls['nome']" name = "nome" class = "form-control">
    </div>
    <div>
      cognome
      <input type = 'text' [formControl] =" miaForm.controls['cognome']" name = "cognome" class = "form-control">
    </div>
    <div> 
      email 
      <input type = 'text'  [formControl] =" miaForm.controls['mail']" name = "email" class = "form-control">
    </div>
    <div>
      password
      <input type = 'text' [formControl] =" miaForm.controls['password']" name = "password " class = "form-control">
    </div>
    <button  class = "btn btn-dark">
      ADD
    </button>
  </form>
</div>
{{error}}