
<div  style = "border-radius : 10px, border : solid block 2px black">
    <button (click)=onClick() class = "btn-primary">
      LOGIN
    </button>

  <div *ngIf="state.showLogin">
      <form [formGroup] = 'miaForm'>
          <h4>LOGIN</h4>
          
          <div> 
            email 
            <input type = 'text'  [formControl] ="miaForm.controls['mail']" name = "email" class = "form-control">
          </div>
          <div>
            password
            <input type = 'text' [formControl] ="miaForm.controls['password']" name = "password " class = "form-control">
          </div>
          <button (click)="onAccedi()" class = "form-control" style = "border : solid white">
              Accedi
          </button>
      </form>
  </div>
</div>